.detailedProductContainer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    min-height: 200px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
}

.detailedProductContainer .productImage {
    max-width: 40%;
    max-height: 540px;
    align-self: start;
    object-fit: contain;
    padding: 30px;
}

.detailedProductContainer .textsContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-align: left;

    width: 60%;
    padding: 15px;
}

.upperTexts {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.lowerTexts {
    display: flex;
    flex-direction: column;
    align-content: end;
}

.detailedProductContainer .title {
    font-size: 3rem;
    line-height: 55px;
    font-weight: 400;
}

.detailedProductContainer .category {
    font-size: 1.1rem;
    color: #718394;
}

.detailedProductContainer .price {
    font-size: 2.8rem;
    font-weight: 540;
}

.detailedProductContainer .description {
    font-size: 1rem;
}

.detailedProductContainer .buttonsContainer {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 100%;
    margin: 15px 0px;
    padding-right: 15px;
    font-size: 1.0rem;
    align-items: center;
}

.detailedProductContainer .buttonsContainer input {
    font-size: 1.6rem;
    width: 50px;
    text-align: center;
    appearance: none;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
}

.detailedProductContainer .buttonsContainer input:focus {
    border-color: black;
    outline: none; 
}

.detailedProductContainer .starsContainer {
    margin-top: 10px;
}

.detailedProductContainer .starsContainer span {
    font-size: 1.6rem;
}

.detailedProductContainer .starsContainer p {
    font-size: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}