.orderContainer {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 8px;
    padding: 30px;
    gap: 5px;
    width: 70%;
}

.orderDetailContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.orderContainer .outerValues {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.orderDetailContainer .innerValues{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.orderContainer h2 {
    font-size: 1.9rem;
    text-align: left;
}

.orderContainer span {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

.orderContainer h3 {
    color: #003077;
    font-weight: 500;
    transition: color 0.15s;
}

.orderContainer h3:hover {
    color: #04a7ff;
}